# version: "3.9"

services:
  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    ports:
      - "4001:4001"
    env_file:
      - ./services/auth-service/.env

  order-service:
    build: ./services/order-service
    container_name: order-service
    ports:
      - "4002:4002"
    env_file:
      - ./services/order-service/.env
    depends_on:
      - auth-service

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "4000:4000"
    env_file:
      - ./api-gateway/.env
    depends_on:
      - auth-service
      - order-service
